[submodule "3-Materials Science/Coherent Diffraction Inversion - Cherukara 2018/CDI_NN"]
	path = 3-Materials Science/Coherent Diffraction Inversion - Cherukara 2018/CDI_NN
	url = https://github.com/mcherukara/CDI_NN
